* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  margin: 0;
  padding: 0;
  color: #333333;
  background-color: #f5fafe;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1110px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
    width: 92%;
  }
}

.navbar {
  background-color: #fff;
}

.navbar-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}

.logo {
  width: 177px;
}

.navbar__search {
  margin-right: auto;
  margin-left: 108px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  height: 40px;
}

.search__input {
  width: 350px;
  height: 100%;
  padding-left: 23px;
  background-color: #F5FAFE;
  border: none;
  font-size: 13px;
  line-height: 15px;
  color: #333333;
  padding-right: 70px;
}

.search__input:focus {
  bottom: none;
  outline: none;
}

.search__button {
  position: absolute;
  width: 65px;
  height: 100%;
  border: none;
  right: 0;
  top: 0;
  background-color: #ec1f46;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.user__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.user__name {
  color: #333333;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin-left: 18px;
}

.navbar-top__menu-button {
  display: none;
}

.navbar-bottom {
  background-color: #0A223D;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-menu__link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

@media (max-width: 992px) {
  .navbar-top {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .logo {
    width: 132px;
  }
  .navbar__search {
    margin-left: auto;
  }
  .search__input {
    width: 340px;
  }
  .navbar-menu__link {
    font-size: 12px;
  }
  .navbar-menu {
    padding: 20px 0;
  }
}

@media (max-width: 768px) {
  .navbar__search {
    display: none;
  }
  .navbar__user {
    display: none;
  }
  .navbar-top__menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-button {
    padding: 1px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 16px;
    height: 11px;
    background-color: #fff;
    border: none;
    cursor: pointer;
  }
  .menu-button__line {
    width: 16px;
    height: 1px;
    background-color: #333333;
  }
  .navbar-menu {
    display: none;
  }
}

@media (max-width: 576px) {
  .logo {
    width: 99px;
  }
}

.breadcrumb-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5fafe;
  padding: 18px 0;
  margin: 0;
}

.breadcrumb-list__item {
  font-size: 10px;
  line-height: 13px;
}

.breadcrumb-list__item:not(:last-child)::after {
  content: '/';
  margin-right: 4px;
}

.breadcrumb-list__link {
  text-decoration: none;
  color: inherit;
}

.hotel {
  padding-top: 23px;
  padding-bottom: 70px;
}

.hotel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stars {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 4px;
}

.hotel-name {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.offer {
  font-size: 10px;
  line-height: 13px;
  padding: 4px 9px;
  background-color: #ec1f46;
  border-radius: 3px;
  color: #fff;
}

.hotel-info__offer {
  margin-left: 14px;
}

.hotel-description {
  font-size: 12px;
  line-height: 15px;
}

.hotel-info__description {
  margin: 5px 0 20px 0;
}

.rating {
  padding: 9px 6px;
  border-radius: 4px;
  background-color: #ec1f46;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.rating__text {
  font-size: 8px;
  line-height: 10px;
}

.rating__counter {
  font-size: 14px;
  line-height: 18px;
}

.hotel-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotel-slider {
  width: 728px;
  height: 450px;
  position: relative;
  border-radius: 8px;
  margin: 0;
}

.hotel-slider__item:after {
  content: '';
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 122, 223, 0.48)), to(rgba(255, 255, 255, 0.128)));
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
}

.hotel-slider__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  z-index: 99;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
}

.hotel-slider__button--next {
  right: 18px;
  background-image: url("../img/arrow-next.svg");
}

.hotel-slider__button--prev {
  left: 18px;
  background-image: url("../img/arrow-prev.svg");
}

.hotel-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.booking {
  border-radius: 8px;
  background-color: #0A223D;
  padding: 28px;
  color: #fff;
  width: 350px;
  min-height: 210px;
}

.booking__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.booking__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.booking__start {
  font-size: 10px;
  line-height: 14px;
}

.booking__pricetag {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}

.booking__per-room {
  font-size: 12px;
  line-height: 16px;
}

.booking__text {
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 82px;
}

.booking__text:not(:last-child) {
  margin-bottom: 8px;
}

.booking__call-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 17px;
}

.booking__heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.booking__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: inherit;
}

.booking__num {
  margin-left: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.booking__button {
  width: 100%;
  min-height: 45px;
  background-color: #ec1f46;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: 'Nunito';
  cursor: pointer;
}

.map {
  width: 347px;
  height: 213px;
  background-color: #000;
  border-radius: 10px;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .hotel-slider {
    width: 590px;
  }
  .hotel-slide__image {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .hotel-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hotel-slider {
    width: 100%;
    height: 450px;
    margin-bottom: 30px;
  }
  .hotel-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .booking {
    width: 340px;
  }
  .map {
    width: 340px;
  }
}

@media (max-width: 768px) {
  .hotel-info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hotel-info__text {
    width: 100%;
  }
  .hotel-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .stars {
    -ms-flex-preferred-size: content;
        flex-basis: content;
  }
  .hotel-info__offer {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-left: 0;
  }
  .hotel-name {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .hotel-info__name {
    margin-top: 4px;
  }
  .hotel-info__rating {
    display: none;
  }
  .hotel-slider {
    height: 350px;
    margin-bottom: 20px;
  }
  .hotel-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .booking {
    width: 100%;
    margin-bottom: 20px;
  }
  .map {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .hotel-slider {
    height: 250px;
  }
}

.newsletter {
  padding: 98px 0 87px 0;
  background-image: url("../img/newsletter-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.newsletter::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(10, 34, 61, 0.8);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.newsletter-wrapper {
  width: 730px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
  position: relative;
}

.newsletter-title {
  color: #fff;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  margin-top: 0;
}

.newsletter-title__strong {
  display: block;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
}

.subscribe {
  position: relative;
  width: 350px;
  height: 55px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  overflow: hidden;
}

.subscribe__input {
  position: absolute;
  border: none;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 75px;
  background-color: #fff;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

.subscribe__input::-webkit-input-placeholder {
  color: #BDBDBD;
}

.subscribe__input:-ms-input-placeholder {
  color: #BDBDBD;
}

.subscribe__input::-ms-input-placeholder {
  color: #BDBDBD;
}

.subscribe__input::placeholder {
  color: #BDBDBD;
}

.subscribe__button {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  width: 65px;
  height: 100%;
  border: none;
  background-color: #ec1f46;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  font-family: inherit;
  cursor: pointer;
}

@media (max-width: 992px) {
  .newsletter-wrapper {
    max-width: 700px;
  }
}

@media (max-width: 768px) {
  .newsletter-wrapper {
    max-width: 576px;
    width: 92%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 576px) {
  .newsletter {
    padding-top: 76px;
    padding-bottom: 83px;
  }
  .newsletter-title {
    margin-bottom: 37px;
    font-size: 20px;
    line-height: 20px;
  }
  .newsletter-title__strong {
    font-size: 30px;
    line-height: 38p;
  }
  .subscribe {
    width: 100%;
  }
}

.reviews {
  padding-top: 40px;
  padding-bottom: 70px;
}

.reviews__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 70px;
  margin-top: 0;
}

.reviews-slider__item {
  margin: auto;
  background-color: #fff;
  position: relative;
  max-width: 730px;
  min-height: 280px;
  border-radius: 8px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 30px;
  position: relative;
  margin-top: 45px;
}

.reviews-slider__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-slider__avatar {
  width: 90px;
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-top: -45px;
  margin-bottom: 9px;
}

.reviews-slider__username {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #ec1f46;
  margin-bottom: 10px;
  margin-top: 0;
}

.reviews-slider__date {
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #000;
  margin-bottom: 5px;
}

.reviews-slider__rating {
  margin-bottom: 30px;
  font-weight: 400;
}

.reviews-slider__text {
  font-size: 12px;
  line-height: 19px;
  text-align: justify;
  margin: 0 auto;
  max-width: 535px;
}

.reviews-slider__button {
  background-color: transparent;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 10;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

.reviews-slider__button--prev {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background-image: url("../img/arrow-prev-darken.svg");
}

.reviews-slider__button--next {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  background-image: url("../img/arrow-next-darken.svg");
}

@media (max-width: 992px) {
  .reviews {
    padding-bottom: 60px;
  }
  .reviews__title {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 50px;
  }
  .reviews-slider__item {
    max-width: 580px;
  }
}

@media (max-width: 768px) {
  .reviews {
    padding-bottom: 50px;
  }
  .reviews__title {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 40px;
  }
  .reviews-slider__item {
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
  }
  .reviews-slider__button--prev {
    top: 31px;
    left: 50%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-left: -85px;
  }
  .reviews-slider__button--next {
    top: 31px;
    right: 50%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    margin-right: -85px;
  }
}

.activities {
  padding-top: 60px;
  padding-bottom: 98px;
}

.activities__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 57px;
}

.activities-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.activities__item {
  border-radius: 6px;
  width: 255px;
  height: 255px;
  position: relative;
  overflow: hidden;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 24px 26px;
}

.activities__item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%);
}

.activities__img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.activities__text {
  position: relative;
  z-index: 100;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  margin-top: auto;
  margin-bottom: 18px;
}

.activities__button {
  position: relative;
  z-index: 100;
  border: none;
  border-radius: 4px;
  background-color: #ec1f46;
  color: #fff;
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  padding: 7px 22px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .activities__item {
    width: 225px;
  }
}

@media (max-width: 992px) {
  .activities {
    padding-bottom: 70px;
  }
  .activities-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .activities__item {
    margin-bottom: 20px;
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}

@media (max-width: 576px) {
  .activities {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .activities__title {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 36px;
  }
  .activities-list {
    -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .activities__item {
    margin-bottom: 20px;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */