.navbar
    background-color: #fff
.navbar-top
    display: flex
    align-items: center
    justify-content: space-between
    padding-top: 40px
    padding-bottom: 40px
.logo
    width: 177px
.navbar__search
    margin-right: auto
    margin-left: 108px
.search
    display: flex
    position: relative
    overflow: hidden
    border-radius: 6px
    height: 40px
.search__input
    width: 350px
    height: 100%
    padding-left: 23px
    background-color: #F5FAFE
    border: none
    font-size: 13px
    line-height: 15px
    color: $text-color
    padding-right: 70px
    &:focus
        bottom: none
        outline: none
.search__button
    position: absolute
    width: 65px
    height: 100%
    border: none
    right: 0
    top: 0
    background-color: $primary
    display: flex
    align-items: center
    justify-content: center
.user
    display: flex
    align-items: center
    text-decoration: none
.user__avatar
    width: 40px
    height: 40px
    border-radius: 50%
    object-fit: cover
.user__name
    color: $text-color
    font-size: 14px
    line-height: 18px
    font-weight: 400
    margin-left: 18px
.navbar-top__menu-button
    display: none
.navbar-bottom
    background-color: $dark
.navbar-menu
    list-style: none
    margin: 0
    padding: 30px 0
    display: flex
    align-items: center
    justify-content: space-between
.navbar-menu__link
    text-decoration: none
    color: $white
    text-transform: uppercase
    font-size: 14px
    line-height: 18px
@media (max-width: 992px)
    .navbar-top
        padding-top: 30px
        padding-bottom: 30px
    .logo
        width: 132px
    .navbar__search
        margin-left: auto
    .search__input
        width: 340px
    .navbar-menu__link
        font-size: 12px
        line-height:
    .navbar-menu
        padding: 20px 0
@media (max-width: 768px)
    .navbar__search
        display: none
    .navbar__user
        display: none
    .navbar-top__menu-button
        display: flex
    .menu-button
        padding: 1px 0
        display: flex
        align-items: center
        flex-direction: column
        justify-content: space-between
        width: 16px
        height: 11px
        background-color: #fff
        border: none
        cursor: pointer
    .menu-button__line
        width: 16px
        height: 1px
        background-color: $text-color
    .navbar-menu
        display: none
@media (max-width: 576px)
    .logo
        width: 99px
